.footer_config {
  width: 100%;
  height: 590px;
  background: #08080a;
  position: relative;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 30px;
}
.footer_config .footer_basic {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 90%;
}
.footer_basic .footer_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_basic .footer_head .head_subs {
  color: #fff;
  width: 380px;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px; /* 121.429% */
  text-transform: capitalize;
}
.footer_basic .head_email {
  width: 400px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 34px;
  border: 1px solid #fff;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 5px;
}
.head_email .ver_line {
  width: 0.546px;
  height: 17px;
  flex-shrink: 0;
  background: #949392;
  margin-left: 5px;
  margin-right: 5px;
}
.head_email .email_enter {
  color: #949392;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 87.5% */
}
.head_email .red_subs {
  width: 169px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #d01818;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.head_email .red_subs span {
  color: #fff;

  text-align: center;
  leading-trim: both;

  text-edge: cap;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
.footer_basic .foot_middle {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.foot_middle .middle_heading {
  color: #fff;
  margin-bottom: 15px;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.foot_middle .middle_links {
  color: #6c727b;

  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 243.75% */
}
.foot_middle .image_wrap {
  width: 170px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 17px;
}
.image_wrap .images_in_foot {
  width: 50px;
  height: 48px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 3px;
}
.middle_link {
  color: #828a8d;

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.middle_headings {
  color: #fff;
  margin-top: 1px;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.foot_middle .store_desc {
  color: #6c727b;
  width: 200px;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 192.5% */
}
.foot_middle .stores_image {
  width: 94px;
  height: 30px;
  border-radius: 3px;
  margin-right: 3px;
}
.footer_basic .foot_bottom {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.foot_bottom .logo_name {
  flex-direction: row;
}
.logo_name .logo_procar {
  color: #fff;

  font-family: Syne;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.147px;
  text-transform: uppercase;
}
.logo_name .logo_procar span {
  color: #f02e2e;
  font-family: Syne;
  font-size: 14.69px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.147px;
  text-transform: uppercase;
}
.foot_bottom .bottom_2024 {
  color: #d01818;
  margin-right: 1px;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.foot_bottom .bottom_2024 span {
  color: #6c727b;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.foot_bottom .terms {
  color: #565F66;

font-family: "Plus Jakarta Sans";
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 168.75% */
}
.foot_bottom .terms span {
  color: #565F66;
margin-left: 15px;
font-family: "Plus Jakarta Sans";
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 168.75% */
}
