.format.home_navbar {
  width: 100%;
  height: 800px;
  display: flex;
  background: url("/public/home/super_car.jpg");
  background-size: cover;
}
.format_dealer.home_navbar {
  width: 100%;
  height: 500px;
  display: flex;
  background: url("/public/dealer/car.avif");
  background-size: cover;
}

.format_others.home_navbar {
  width: 100%;
  height: 500px;
  display: flex;
  background: url("/public/dealer/car.avif");
  background-size: cover;
}

.home_navbar .navbar_config {
  width: 1244.69px;
  height: 46px;
  margin-left: 26px;
  margin-top: 55px;
}
.home_navbar .navbar_config .border_icons {
  display: flex;
  flex-direction: column;
}

.home_navbar .navbar_config .angel_image {
  width: 120px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 25%;
  margin-left: 120px;
}

.home_navbar .navbar_links {
  width: 752px;
  height: 46px;
}

.home_navbar a {
  text-decoration: none;
}

.home_navbar .hover-line a {
  color: #ffffff;
}

.home_navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b486;
}

.home_navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b486;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home_navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home_navbar .head_information {
  display: flex;
  flex-direction: column;
  width: 1290px;
  height: 477px;
}

.home_navbar .define_restaurant {
  position: relative;
  width: 484px;
  height: 143px;
  margin-top: 40px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75x;
  color: #ffffff;
}

.home_navbar .timeline_service {
  position: relative;
  width: 466px;
  height: 28px;
  margin-top: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #d5d5d5;
}

.login-button {
  background-color: #149746;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.login-button:hover {
  background-color: #19b249;
}

.login-button i {
  margin-right: 8px;
}

.head_information .site_name {
  height: 20px;
  width: auto;
  margin-top: 10px;
  margin-left: 140px;
}
.site_name .name_deco {
  color: #ffc600;

  font-family: "DM Mono";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.head_information .center_word_1 {
  margin-left: 140px;
  display: flex;
  flex-direction: row;
}
.center_word_1 .center_word_inner1 {
  color: #fff;

  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 80px */
}
.center_word_1 .center_word_inner2 {
  color: #ffc600;

  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
}
.center_word_1 .center_word_div {
  height: 80px;
  width: auto;
}
.head_information .site_desc {
  margin-left: 140px;
  margin-top: 60px;
  width: 399px;
  height: auto;
}
.site_desc .site_desc_text {
  color: #fff;

  font-family: "DM Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}

.head_information .bottom_frame {
  margin-left: 249px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom_frame .frame_div {
  width: 150px;
  height: 150px;
  justify-content: center;
}
.frame_div .svg_text {
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  text-transform: uppercase;
}

/* START BASKET */

.basket_frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
}
.basket_frame .false_frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px 20px;
}
.basket_frame .false_frame img {
  width: 120px;
  height: 140px;
}
.basket_frame .false_frame .empty_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  width: 70%;
}
.basket_frame .false_frame .empty_shop {
  margin-top: 15px;
  background: #f0bc04;
  color: #fff;
  padding: 5px 10px;
  leading-trim: both;
cursor: pointer;
  text-edge: cap;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  text-transform: capitalize;
}
.basket_frame .true_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 15px 10px 15px;
}
.basket_frame .true_frame .donut_image {
  max-width: 45px;
  max-height: 45px;
  margin-bottom: 15px;
}
.basket_frame .true_frame .wish_name {
  color: #000;

  font-family: "Plus Jakarta Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 104% */
}
.basket_frame .true_frame .orders_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.basket_frame .true_frame .basket_info_box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.true_frame .basket_info_box .car_img {
  max-width: 90px;
  max-height: 90px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  
}
.true_frame .basket_info_box .product_name {
  margin-left: 11px;
  width: 230px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.true_frame .basket_info_box .product_price {
  width: 80px;
  margin-left: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.true_frame .to_order_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 25px;
}
.to_order_box .price_text {
  margin-left: 27px;
  margin-right: 10px;
  width: 250px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.to_order_box .purchase_btn {
  width:200px;
  justify-content: center;
  margin-top: 15px;
}
.header_shop {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f0bc04;
  margin-top: 95px;
  margin-left: 80px;
  width:140px;
  color: #fff;
  padding: 5px 10px;
  leading-trim: both;
cursor: pointer;
  text-edge: cap;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  text-transform: capitalize;
}
.header_shop:hover {
  background: #ae0000;
}